@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'Sovereign';
  src: url('../fonts/Sovereign.otf');
}

@font-face {
  font-family: 'Trueno';
  src: url('../fonts/TruenoExBd.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
::selection {
  color: #fff;
  background-color: #d74430;
}
::-webkit-scrollbar-track {
	background-color: #2D2D2D;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #d74430;
}

header {
  background-image: url('../image/star-wars-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 44vw;
  position: relative;
  z-index: 1;
}

header .starWarsTitle,
.kylo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

header .starWarsTitle img {
  width: 24vw;
  position: absolute;
  bottom: 14vw;
}

header .starWarsTitle .starTitle {
  right: 56.8%;
}

header .starWarsTitle .warsTitle {
  right: 10.3%;
}

header .kylo img {
  width: 70vw;
  position: absolute;
  left: 10.4vw;
}

header .slideControlContainer {
  width: 10%;
  position: absolute;
  right: 11%;
  bottom: 2vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-size: 1.6vw;
}

header .slideControlContainer .legion {
  font-weight: 700;
}

header .slideControlContainer .divider {
  width: 100%;
  height: 3px;
  margin: 10% 0;
  background-color: #000;
}

header .slideControlContainer .slideControl {
  display: flex;
  font-size: 1.2vw;
}

header .slideControl .slideNumb {
  margin-right: -3%;
}

header .slideControl .slideNumb01 {
  font-size: 1.8vw;
  margin-right: -10%;
}

header .slideControl button {
  border: none;
  background-color: #a9bdc1;
  width: 1.2vw;
  height: 1.2vw;
  margin: 8% 0 0 5%;
  font-size: 0.9vw;
  cursor: pointer;
}

main .gameInfo {
  background-image: url('../image/robot-bg.png');
  background-size: 42.4vw 100%;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 77vw;
  margin-top: -1vw;
  display: flex;
}

.gameInfo .startToPlay {
  background-image: url('../image/strom-trupe-red.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 25.7vw;
  height: 30.4vw;
  position: relative;
  top: -2.5%;
  z-index: 2;
  left: 14.7%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameInfo .startToPlay h3 {
  font-weight: 600;
  font-size: 2.6vw;
  width: 55%;
  margin-bottom: 3.8vw;
  padding-top: 4.16vw;
}

.gameInfo .startToPlay p:nth-child(2) {
  font-weight: 300;
  font-size: 1.04vw;
  width: 17vw;
  height: 4.21vw;
  margin-bottom: 3.6vw;
}

.gameInfo .startToPlay p:nth-child(4) {
  font-weight: 300;
  font-size: 0.6vw;
  margin: 1.4vw 0 0 62%;
}

.gameInfo .startToPlay a {
  width: 10.4vw;
  height: 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.15vw #fff;
  border-radius: 0.3vw;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-size: 1.04vw;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.gameInfo .startToPlay a:hover {
  color: #d74430;
  background-color: #fff;
  font-weight: 600;
}

.gameInfo .aboutTheGame {
  position: absolute;
  top: 21%;
  left: 47.5%;
  display: flex;
  gap: 16px;
}

.gameInfo .aboutTheGame .textContainer {
  text-align: end;
  width: 24vw;
  font-size: 1.04vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2.2vw;
}

.aboutTheGame .textContainer h5 {
  font-size: 1.56vw;
  margin-top: -2%;
}

.textContainer .textDivider {
  background-color: #000;
  width: 9.1vw;
  height: 3px;
  position: absolute;
  right: 47%;
  top: 22%;
}

.gameInfo .aboutTheGame img {
  width: 20.7vw;
}

.gameInfo .divider {
  background-color: #707070;
  width: 78.3vw;
  height: 5px;
  position: absolute;
  top: 33vw;
  left: 14.7vw;
  z-index: 2;
}

.gameInfo .gameStructure {
  width: 100%;
  position: absolute;
  top: 76vw;
  z-index: 2;
}

.gameStructure .lordSifh img {
  width: 44vw;
  position: absolute;
  left: 14.5%;
  bottom: -3vw;
}

.gameStructure .structureList {
  width: 27.2vw;
  position: absolute;
  right: 28.5%;
  top: -35vw;
}

.structureList h2 {
  font-weight: 600;
  font-size: 3.5vw;
  text-align: end;
  margin: -1.5vw 0;
}

.structureList span {
  font-family: 'Sovereign', 'Trueno', sans-serif, 'Trueno', sans-serif;
  font-weight: 400;
}

.structureList ul {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 1.7vw;
}

.structureList ul li {
  font-size: 1.56vw;
  text-align: end;
  padding-right: 2.5%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.structureList ul li:hover {
  background-color: #d74430;
  color: #fff;
}

.gameStructure .rey img {
  width: 20.72vw;
  position: absolute;
  right: 6.5%;
  bottom: -3.9vw;
}

.gameInfo .gameAttributes {
  background-color: #2D2D2D;
  width: 100%;
  height: 125vw;
  position: absolute;
  top: 98.5%;
}

.gameAttributes h3 {
  color: #fff;
  font-family: 'Sovereign', 'Trueno', sans-serif;
  font-size: 2.6vw;
  font-weight: 400;
  margin: 10% 0 5% 13.5%;
  letter-spacing: 2px;
}

.gameAttributes .attributes {
  display: flex;
  width: 86vw;
  margin: 0 auto;
  position: relative;
}

.attributes .attributeImg {
  position: relative;
}

.attributes .hoverContainer {
  transform: scale(0);
  transition: 0.5s ease-in-out;
}

.attributes .hoverContainer::before,
.attributes .hoverContainer::after {
	content: "";
	position: absolute;
	width: 5.4vw;
	height: 5.4vw;
	border: solid;
}

.attributes .hoverContainer::before {
	border-width: 0.4vw 0 0 0.4vw;
  top: 6%;
  left: 3.4%;
}

.attributes .hoverContainer::after {
	border-width: 0 0.4vw 0.4vw 0;
  right: 4%;
  bottom: 5.3%;
}

.attributes .hoverContainer {
  background-color: #009e05b3;
  width: 45vw;
  height: 28vw;
  color: #fff;
  position: absolute;
  top: -4%;
  left: -2%;
  padding: 6%;
}

.attributes .hoverContainer h4 {
  font-size: 2.6vw;
  font-family: 'Sovereign', 'Trueno', sans-serif;
  font-weight: 400;
  letter-spacing: 0.07vw;
  width: 32%;
  position: absolute;
  top: 15%;
  left: 10%;
}

.attributes .hoverContainer p {
  font-size: 1.6vw;
  font-weight: 300;
  width: 85%;
  position: absolute;
  top: 40%;
  left: 10%;
}

.attributes .hoverContainer a {
  text-decoration: none;
  font-size: 1.5vw;
  padding: 1vw 3vw;
  border: solid 0.3vw #fff;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 6%;
  transition: 0.3s ease-in-out;
}

.attributes .hoverContainer a:hover {
  background-color: #fff;
  color: #000;
}

.attributeImg:hover .hoverContainer {
  transform: scale(1);
}

.attributes .attributeImg {
  background-image: url('../image/game-preview.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 55vw;
  height: 26.14vw;
}

.attributes .containerImgAttributes {
  display: flex;
  flex-wrap: wrap;
  width: 55vw;
}

.containerImgAttributes .attributeImg {
  width: 21.35vw;
  height: 13.1vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.containerImgAttributes .attributeImg:nth-child(1) {
  background-image: url('../image/security-storm-troper.png');
}

.containerImgAttributes .attributeImg:nth-child(2) {
  background-image: url('../image/robots-war.png');
}

.containerImgAttributes .attributeImg:nth-child(3) {
  background-image: url('../image/space-ships.png');
}

.containerImgAttributes .attributeImg:nth-child(4) {
  background-image: url('../image/storm-trup-elevator.png');
}

.containerImgAttributes .hoverContainer::before,
.containerImgAttributes .hoverContainer::after {
	width: 2.6vw;
	height: 2.6vw;
}

.containerImgAttributes .hoverContainer::before {
	border-width: 0.3vw 0 0 0.3vw;
}

.containerImgAttributes .hoverContainer::after {
	border-width: 0 0.3vw 0.3vw 0;
}

.containerImgAttributes .hoverContainer {
  background-color: #d74430b3;
  width: 22.4vw;
  height: 14.06vw;
}

.attributeImg:nth-child(2) .hoverContainer {
  background-color: #d98a02b3;
}

.attributeImg:nth-child(3) .hoverContainer {
  background-color: #93009eb3;
}

.attributeImg:nth-child(4) .hoverContainer {
  background-color: #25009eb3;
}

.containerImgAttributes .hoverContainer h4 {
  font-size: 1.4vw;
}

.containerImgAttributes .hoverContainer p {
  font-size: 0.8vw;
  font-weight: 400;
}

.containerImgAttributes .hoverContainer a {
  font-size: 1.04vw;
  padding: 0.31vw 1.04vw;
  border: solid 0.2vw #fff;
  top: 70%;
  left: 6%;
}


.attributes .hierarchy {
  position: absolute;
  top: 30vw;
  width: 85.4vw;
}

.attributes .hierarchy img {
  width: 85.4vw;
}

.attributes .hierarchy figcaption {
  color: #fff;
  text-align: end;
  font-size: 1.04vw;
  font-weight: 300;
  width: 44.1vw;
  margin-top: 1.5%;
  position: absolute;
  right: 0;
}

.gameInfo .howPlay {
  position: relative;
  top: 231.5%;
  width: 100%;
  left: -17.4vw;
}

.howPlay .StormCapitain img {
  width: 27.97vw;
  position: absolute;
  top: 1.4%;
  left: 4%;
}

.howPlay h3 {
  color: #fff;
  font-family: 'Sovereign', 'Trueno', sans-serif;
  font-size: 2.6vw;
  font-weight: 400;
  position: absolute;
  top: 14.5%;
  left: 50.3%;
}

.howPlay .cardsContainer {
  position: relative;
  top: 36.5%;
  left: 49.8%;
  display: flex;
  align-items: center;
  gap: 39%;
  width: 55vw;
}

.cardsContainer .card {
  height: 14.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card button {
  background-image: linear-gradient(to right, #D74430 50%, #000 50%);
  background-size: 200% 100%;
  background-position: right;
  border: none;
	width: 14.1vw;
  padding: 0.9vw 0;
	color: #FFF;
  font-weight: 300;
  font-size: 1.57vw;
  position: absolute;
  top: 30%;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}

.card button:hover {
	background-position: left;
}

.card h4 {
  font-weight: 400;
  font-size: 2.6vw;
  position: absolute;
  top: -4.5%;
  transition: 0.5s ease-in-out;
}

.card button:hover ~ h4 {
	font-weight: bold;
}

.card p {
  width: 9vw;
	text-align: center;
  font-weight: 300;
  font-size: 1.04vw;
  position: absolute;
  bottom: 10%;
}

.card:nth-child(2) p {
  width: 7vw;
}

.card:nth-child(3) p {
  width: 5.5vw;
}

.card .line {
  width: 5.2vw;
  height: 0.3vw;
  background-color: #000;
  position: absolute;
  bottom: 0;
  transition: 0.5s ease-in-out;
}

.card button:hover ~ .line {
	background-color: #D74430;
}

footer {
  position: relative;
  top: 155vw;
}

footer .downloadGame {
  background-color: #ff5a56;
  width: 63.96vw;
  height: 45.94vw;
  padding-left: 13.5%;
}

.downloadGame h3 {
  color: #fff;
  font-family: 'Sovereign', 'Trueno', sans-serif;
  font-weight: 400;
  font-size: 2.6vw;
  letter-spacing: 1px;
  padding: 6.8vw 0 2vw 0;
}

.downloadGame p {
  font-size: 1.04vw;
  font-weight: 300;
  color: #fff;
  width: 28vw;
  padding-bottom: 1.2vw;
}

.downloadGame .storeBtn a {
  text-decoration: none;
}

.downloadGame .storeBtn img {
  width: 14.4vw;
  cursor: pointer;
}

.downloadGame .divider {
  background-color: #D74430;
  width: 29vw;
  height: 0.4vw;
  margin: 3.38vw 0;
}

.downloadGame .starWarsTitle img {
  width: 13.4vw;
  padding-bottom: 1.56vw;
}

.darthVader img {
  width: 39.4vw;
  position: absolute;
  top: -14.2%;
  left: 53.5%;
}