@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'Trueno';
  src: url('../fonts/TruenoExBd.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

header {
  background-image: url('../image/star-wars-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 44vw;
  position: relative;
  z-index: 1;
}

header .starWarsTitle,
.kylo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

header .starWarsTitle img {
  width: 24vw;
  position: absolute;
  bottom: 14vw;
}

header .starWarsTitle .starTitle {
  right: 56.8%;
}

header .starWarsTitle .warsTitle {
  right: 10.3%;
}

header .kylo img {
  width: 70vw;
  position: absolute;
  left: 10.4vw;
}

header .slideControlContainer {
  width: 10%;
  position: absolute;
  right: 11%;
  bottom: 2vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-size: 1.6vw;
}

header .slideControlContainer .legion {
  font-weight: 700;
}

header .slideControlContainer .division {
  width: 100%;
  height: 3px;
  margin: 10% 0;
  background-color: #000;
}

header .slideControlContainer .slideControl {
  display: flex;
  font-size: 1.2vw;
}

header .slideControl .slideNumb {
  margin-right: -3%;
}

header .slideControl .slideNumb01 {
  font-size: 1.8vw;
  margin-right: -10%;
}

header .slideControl button {
  border: none;
  background-color: #a9bdc1;
  width: 1.2vw;
  height: 1.2vw;
  margin: 10.4% 0 0 5%;
  font-size: 0.9vw;
  cursor: pointer;
}

main .gameInfo {
  background-image: url('../image/robot-bg.png');
  background-size: 42.4vw 100%;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 76.6vw;
  margin-top: -1vw;
  display: flex;
}

.gameInfo .startToPlay {
  background-image: url('../image/strom-trupe-red.png');
  background-size: 100%;
  width: 20.7vw;
  height: 30.4vw;
  position: relative;
  top: -2.5%;
  z-index: 2;
  left: 14.7%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameInfo .startToPlay h3 {
  font-weight: 600;
  font-size: 2.6vw;
  width: 55%;
  margin-bottom: 3.8vw;
  padding-top: 4.16vw;
}

.gameInfo .startToPlay p:nth-child(2) {
  font-weight: 300;
  font-size: 1.04vw;
  width: 17.34vw;
  height: 4.21vw;
  margin-bottom: 3.6vw;
}

.gameInfo .startToPlay p:nth-child(4) {
  font-weight: 300;
  font-size: 0.6vw;
  margin: 1.4vw 0 0 62%;
}

.gameInfo .startToPlay a {
  width: 10.4vw;
  height: 2.6vw;
  padding: 1.8% 9.5%;
  border: solid 2px #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-size: 1.04vw;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.gameInfo .startToPlay a:hover {
  color: #d74430;
  background-color: #fff;
  font-weight: 600;
}

.gameInfo .aboutTheGame {
  position: absolute;
  top: 21%;
  left: 47.5%;
  display: flex;
  gap: 16px;
}

.gameInfo .aboutTheGame .textContainer {
  text-align: end;
  width: 24vw;
  font-size: 1.04vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2.2vw;
}

.aboutTheGame .textContainer h5 {
  font-size: 1.56vw;
  margin-top: -2%;
}

.textContainer .textDivider {
  background-color: #000;
  width: 9.1vw;
  height: 3px;
  position: absolute;
  right: 47%;
  top: 22%;
}

.gameInfo .aboutTheGame img {
  width: 20.7vw;
}

.gameInfo .division {
  background-color: #707070;
  width: 78.3vw;
  height: 5px;
  position: absolute;
  top: 33vw;
  left: 14.7vw;
  z-index: 2;
}

.gameInfo .gameStructure {
  width: 100%;
  position: absolute;
  top: 76vw;
  z-index: 2;
}

.gameStructure .lordSifh img {
  width: 44vw;
  position: absolute;
  left: 14.5%;
  bottom: -3vw;
}

.gameStructure .structureList {
  width: 27.2vw;
  position: absolute;
  right: 28.5%;
  top: -35vw;
}

.structureList h2 {
  font-weight: 600;
  font-size: 3.5vw;
  text-align: end;
  margin: -1.5vw 0;
}

.structureList span {
  font-family: 'Trueno';
}

.structureList ul {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 1.7vw;
}

.structureList ul li {
  font-size: 1.56vw;
  text-align: end;
  padding-right: 2.5%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.structureList ul li:hover {
  background-color: #d74430;
  color: #fff;
}

.gameStructure .rey img {
  width: 20.72vw;
  position: absolute;
  right: 6.5%;
  bottom: -3vw;
}